/* Name: Gwydion Oostvogel */
/* Student nr: 12578002 */

html {
    height:100%;
}

body {
    min-height:100%;
    padding:0;
    margin:0;
    position:absolute;
}

footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    height: 10px;
    margin-left: 1%;
}

